manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: v0.3
      import: app/west.yml
    # Add the nice-view module here
    - name: nice-view
      remote: zmkfirmware
      revision: main
  self:
    path: config
